<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Create, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/articles/create" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title"><br>
        <label for="body">Title</label><br>
        <input type="text" name="body"><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>